<!DOCTYPE html>
<script>
	window.dampId = <%- dampId %>
</script>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Damp T-Shirts</title>
		<link rel="stylesheet" type="text/css" href="/js/styles.css" />
	</head>
	<body>
		<div id="app"><%- reactOutput %></div>
		<script src='/js/detail.bundle.js'></script>
	</body>
</html>
